.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

/* ===================================
   Media Queries
====================================== */
@media only screen and (max-width: 1400px) {
    .img-box {
        width: 500px;
    }
    .hero-content h1 {
        margin: .5rem 0;
    }
    .hero-btn {
        margin-top: 20px;
    }

    .contact-form input {
        width: 250px;
    }
    .form-area textarea {
        width: 530px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 1200px) {
    .navbar-brand {
        margin-left: .5rem;
    }
    .contact-form .flex-field {
        flex-direction: column;
        gap: 0;
    }
    .contact-form input, .contact-form textarea{
        width: 100%;
    }
}

@media only screen and (max-width: 992px) {
    .navbar {
        padding: 1rem 0;
    }

    .top-header {
        display: none;
    }

    .navbar {
        margin-top: 0;
    }

    .navbar-toggler-icon {
        color: #212121;
    }

    .navbar-brand {
        margin-left: 0;
    }

    .nav-item{
        padding: .5rem 0;
    }

    .navbar-nav li {
        border-bottom: 1px solid #b4b4b4;
    }
    .img-box {
        width: 624px;
    }
    .choose-card {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .navbar-nav li {
        margin: .5rem 0;
    }
    .choose-card {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width: 576px) {
    .choose-card {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* ===================================
   Media Queries
====================================== */