/*
//////////////////////////////
Website Name:
Author: Joydip Paul
Demo: 
Author URI: 
Description: 
Version: 1.0
/////////////////////////////

*/
/* CSS index
..................
    1.Theme default css
    2.Header
    3.slider
    4.About
    5.our-services
    6.Portfolio
    7.Blog
    8.Contact
    9.Footer
    10.Responsive
    11.Custom css
.....................
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/* 1. Theme default css */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
        sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #1E335D;
}

::-webkit-scrollbar-thumb:hover {
    background: #FFB048;
}

::selection {
    color: #fff;
    background: #233443;
}

:root {
    /* --primary-color: #3734A9; */
    --primary-color: #1E335D;
    --text-color: #233443;
    --box-shadow: 0px 0px 10px #dad9d9;
    --box-shadow-tow: #959da533 0px 8px 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: var(--text-color);
}

p {
    color: #333333A3;
}

.pt-100 {
    padding-top: 100px;
}

.pt-100-hero {
    padding-top: 100px;
}

.pt-200 {
    padding-top: 200px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pb-200 {
    padding-bottom: 200px;
}

.left-30 {
    position: relative;
    left: 30px;
}

.section-title {
    text-align: center;
}

.main-container {
    width: 90% !important;
    margin: 0 auto;
}

.section-title h2 {
    font-family: poppins;
    font-size: 36px;
    font-weight: 600;
    color: var(--text-color);
    position: relative;
    padding-bottom: 25px;
    display: inline;
}

.section-title h2::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 64px;
    border-radius: 4px;
    background-color: #F9A646;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    /* margin-bottom: 20px; */
}

.section-title p {
    font-size: 20px;
    color: #333333A3;
    padding-top: 40px;
    margin: 0;
}

.btn {
    border: none;
    outline: none;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    padding: 15px 35px;
    margin-top: 16px;
    margin-bottom: 0;
}

.btn-primary:hover {
    background-color: #081736;
}

.arrow {
    margin-left: 10px;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}


.go-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    padding: 10px;
    background: #1E335D;
    color: #fff;
    border: none;
}

.go-top:focus {
    outline: none;
}

/* =================== 2. Navbar code start =================== */
.top-header {
    position: relative;
    z-index: 501;
    height: 48px;
    background-color: var(--primary-color);
}

.top-header-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.top-header-contact ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.top-header-contact ul li {
    transition: .3s ease-out;
}

.top-header-contact ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.top-header-right ul {
    list-style: none;
    display: flex;
}

.top-header-right a {
    text-decoration: none;
    color: #fff;
    margin: 0 .5rem;
    font-size: 14px;
    transition: .3s ease-out;
}

.top-header-contact a:hover,
.top-header-contact span:hover,
.top-header-social a:hover {
    color: #fff;
}

.navbar {
    background: linear-gradient(to right, #f7f7ff, #E6E5FF);
    height: auto !important;
    transition: .05s ease-in-out;
    height: 87px;
}

.nav-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 500;
}

.navbar-brand img {
    width: 100px;
}

.konnect-logo img {
    width: 200px;
}

.navbar-nav li {
    margin: 0 .6rem;
    transition: .5s;
}

.nav-item:last-child {
    margin-right: 0 !important;
}

.navbar-nav li a {
    color: var(--text-color);
    font-size: 14px;
    font-weight: 600;
}

.navbar-nav li a:hover {
    color: var(--primary-color);
}

.nav-item {
    position: relative;
    padding: 1rem 0;
}

.active-item {
    position: relative;
}

.active-item::after {
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 2%;
    background-color: #F9A646;
    height: 4px;
    width: 100%;
    border-radius: 100px;
}

.active .nav-link {
    color: var(--primary-color) !important;
}

.fixed-top .navbar {
    /* padding: .8rem 0; */
    margin: 0;
}

/* =================== Navbar code End =================== */


/* =================== 3. Hero code Start =================== */
.hero-area {
    height: calc(100vh - 48px);
    position: relative;
    background: url('/assets/images/splash.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-row {
    padding-top: 280px;
}

/* .nav-btn {
    position: absolute;
    bottom: -2rem;
    left: 49%;
    transform: translateX(-49%);
}

.prev-slide::after {
    content: "<";
    font-size: 30px;
}

.next-slide::after {
    content: ">";
    margin-left: 50px;
    font-size: 30px;
} */

.owl-dots {
    margin-top: 90px;
    position: absolute;
    bottom: -6rem;
    left: 49%;
    transform: translateX(-49%);
}

.owl-dots .owl-dot span {
    display: block;
    transition: opacity .2s ease;
    border-radius: 30px;
    margin: 0 5px;
    background-color: #F0AA56;
    width: 20px;
    height: 12px;
    border-radius: 100px;
}

.owl-dots .owl-dot.active span {
    background: #1E335D33;
    width: 30px;
}

.shape {
    position: absolute;
    width: 8%;
    z-index: -1;
}

.shape-1 {
    left: 0;
    top: 100px;
}

.shape-2 {
    left: 0;
    bottom: 180px;
}

.shape-3 {
    top: 100px;
    right: 35%;
}

.shape-4 {
    bottom: 50px;
    left: 12%;
    transform: rotate(285deg);
}

.shape-5 {
    top: 45%;
    right: 12%;
    transform: rotate(8deg);
}

.img-box {
    width: 624px;
}

.hero-row img {
    width: 100%;
}

.hero-content small {
    font-size: 24px;
    font-weight: regular;
    color: #1AB57F;
}

.hero-content h1 {
    font-size: 35px;
    font-weight: 400;
    line-height: 65px;
    margin-top: 10px;
}

.hero-content h1 .home-pay {
    font-size: 50px;
    font-weight: 700;
}

.hero-content h1 .heading-bg {
    background: linear-gradient(to right, #F4F4FD, #EAEDFD);
    padding: 0 .2rem;
}

/* .hero-content h1 .bd {
    font-size: 40px;
    font-weight: 700;
} */

.hero-content p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 26px;
    line-height: 35px;
}

.hero-btn {
    margin-top: 50px;
}

/* =================== Hero code End =================== */


/* =================== 4. Service code Start =================== */
.service-area {
    background: linear-gradient(-17deg, #e4edfc 0%, #e4edfc96 98%);
}

.section-content img {
    border-radius: 4px;
}

.section-content p {
    font-size: 18px;
    color: #323847A3;
    margin-top: 30px;
    line-height: 33px;
    width: 90%;
    text-align: justify;
}

.konnect img {
    width: 300px;
}

/* =================== Service code End =================== */

/* =================== 5. Choose us code Start =================== */
.why-choose-us {
    position: relative;
}

.choose-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.single-choose-card {
    text-align: center;
    border: 1px solid #08173611;
    border-radius: 4px;
    margin: 10px;
    padding: 10px 10px;
    transition: .5s;
}

.single-choose-card:hover {
    border: 1px solid #08173660;
}

.single-choose-card h3 {
    font-size: 24px;
    margin: 30px 0;
}

.single-choose-card p {
    font-size: 14px;
    color: #233443;
}

/* =================== Choose us code End =================== */

/* =================== 6. Testimonial code Start =================== */
.bg-gradient-2 {
    background: linear-gradient(173deg, #e3edfb 0%, #ffffff 98%);
    position: relative;
}

.ellipse-shape {
    position: absolute;
    top: 120px;
    right: 0;
}

.tri-shape {
    position: absolute;
    top: 20%;
    left: 10%;
    transform: rotate(275deg);
}

.testimonial-title h4 {
    font-size: 18px;
    padding-left: 60px;
    color: #1E335D99;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
}

.testimonial-title h4::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 2px;
    width: 50px;
    background-color: #1E335D99;
}

.testimonial-title h2 {
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
}

.single-testimonial {
    background-color: #fff;
    border: 1px solid #EFF0F7;
    box-sizing: border-box;
    box-shadow: 0px 5px 14px rgba(8, 15, 52, 0.04);
    border-radius: 20px;
    padding: 30px 38px;
    margin-top: 35px;
}

.single-testimonial:nth-child(odd) {
    margin-right: 24px;
}

.single-testimonial span {
    font-size: 30px;
    color: var(--primary-color);
}

.profile {
    display: flex;
    align-items: center;
}

.dp-img {
    width: 60px;
    height: 60px;
    background-color: #E6E4FF;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.profile img {
    width: 100%;
}

.name {
    margin-left: 20px;
    margin-top: 10px;
}

.name h3 {
    font-size: 18px;
}

.name h4 {
    font-size: 16px;
    font-weight: 500;
    color: #6F6C90;
}

/* =================== Testimonial code End =================== */

/* =================== 7. Contact us code Start =================== */
.contact-us {
    margin-top: 100px;
}

.contact-form h2 {
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 20px;
    position: relative;
}

.contact-form h2::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2D77A8;
    border-radius: 5px;
}

.contact-form h2::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -3px;
    width: 8px;
    height: 8px;
    background-color: #2D77A8;
    border-radius: 50%;
}

.contact-form h4 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
    opacity: 0.7;
    padding-top: 14px;
}

.contact-form .form-area {
    padding-top: 40px;
}

.contact-form input:focus,
.contact-form input {
    box-shadow: none;
    padding: 15px;
    border: 1px solid #ADADAD;
    box-sizing: border-box;
    border-radius: 10px;
    width: 306px;
    margin: 15px 0;
}

.form-area input::placeholder,
.form-area textarea::placeholder {
    color: #212121;
    opacity: 0.4;
}

.form-area textarea,
.form-area textarea:focus {
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 10px;
    width: 642px;
    padding: 15px;
    height: 200px;
    border: 1px solid #ADADAD;
    margin: 15px 0 25px 0;
}

.contact-form .flex-field {
    display: flex;
    gap: 30px;
}

.contact-info {
    padding-top: 75px;
}

.contact-info ul {
    padding: 0;
    list-style: none;
    margin-top: 20px;
}

.contact-info ul li {
    margin: 10px 0;
    font-weight: 300;
    display: flex;
}

.contact-info ul li p {
    color: var(--text-color);
    font-size: 16px;
    margin-left: 20px;
    margin-top: 5px;
}

.contact-info ul li span {
    color: var(--primary-color);
    font-size: 25px;
}

.contact-info ul li .address {
    margin-left: 25px;
    margin-top: 0;
}

.contact-social {
    margin-top: 10px;
}

.contact-social a {
    color: var(--primary-color);
    font-size: 30px;
}

/* =================== Contact us code End =================== */

/* =================== 7. Footer code Start =================== */
.footer-area {
    background-color: var(--primary-color);
}

.main-footer {
    padding: 100px 0;
}

.single-footer ul {
    padding: 0;
    list-style: none;
}

.single-footer ul li:nth-child(2) {
    margin: .5rem 0;
}

.single-footer ul li a {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

.single-footer h3 {
    font-size: 20px;
    color: #fff;
    padding-bottom: 30px;
}

.address-area {
    color: #fff;
    opacity: 0.7;
}

.address-area .number-email a,
.address-area p {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}


.footer-social ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.footer-social ul li a {
    display: flex;
    align-items: center;
}

.footer-social ul li span {
    background-color: #fff;
    font-size: 20px;
    color: #1778F2;
    height: 15px;
    width: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    border-radius: 50px;
    margin: 0 10px 0 0;
}

.footer-social ul li:nth-child(2) {
    margin: 0;
}

.copyright {
    padding: 30px;
}

.hr {
    color: #8E8E8E;
}

.copyright p {
    text-align: center;
    color: #fff;
}

/* =================== Footer code End =================== */


/*=================== Blaze Code Start =========================== */
.blaze-hero-area {
    height: 100vh;
}

.splash {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    right: 0;
}

.blaze-hero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.blaze-hero h1 {
    font-size: 48px;
    font-weight: 600;
    line-height: 80px;
    margin-top: 50px;
    color: var(--primary-color);
}

.blaze-hero h1 span {
    font-size: 74px;
    font-weight: 600;
    color: #FFB048;
}

.blaze-hero h1 .konnect {
    color: #F24B46;
    font-size: 74px;
    font-weight: 600;
}

.blaze-hero p {
    font-size: 20px;
    line-height: 35px;
}

.pulse-button {
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    border: none;
    box-shadow: 0 0 0 0 #0817367e;
    border-radius: 50%;
    background-color: #081736;
    cursor: pointer;
    margin-top: 40px;
    -webkit-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.play {
    font-size: 15px;
    color: #fff;
}

.pulse-button:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
}

.play-active.pulse-button {
    background-color: #a30000;
}

.video-frame {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    /* height: 70%; */
    width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    z-index: 9999 !important;
    /* background-color: #1ab57f14; */
    border-radius: 10px;
    /* padding: 10px; */
    /* margin-top: 2rem; */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;

}

.video-frame video {
    border-radius: 10px;
    /* height: 100%; */
    width: 100%;
}

.video-frame .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    background: #2121217c;
    color: #fff;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    font-size: 22px;
    border: none;
    outline: none;
}

.video-frame.video-active {
    transition-delay: 0.5s;
    transition: .5s ease-out;
    transform: translate(-50%, -50%) scale(1);
}

@-webkit-keyframes pulse {
    to {
        box-shadow: 0 0 0 35px #e84c3d00;
    }
}

@-moz-keyframes pulse {
    to {
        box-shadow: 0 0 0 35px #e84c3d00;
    }
}

@-ms-keyframes pulse {
    to {
        box-shadow: 0 0 0 35px #e84c3d00;
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 35px #e84c3d00;
    }
}

.blaze-about-area {
    background: linear-gradient(347deg, #e3edfb 0%, #ffffff 98%);
}

.single-blaze-about {
    background: #fff;
    border: 0.5px solid #FAFAFA;
    box-sizing: border-box;
    box-shadow: 0px 64px 194px #0000001a;
    border-radius: 22px;
    padding: 30px 25px;
    margin: 30px 0;
}

.single-blaze-about h2 {
    font-size: 28px;
}

.single-blaze-about p {
    font-size: 18px;
    color: #333333A3;
}

.gradient-bg {
    background-image: linear-gradient(to right, #f3f3f3, #ffff);
}

.blaze-services {
    background: linear-gradient(150deg, #e3edfb 0%, #ffffff 98%);
}

.single-blaze-services h3 {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    padding-bottom: 20px;
}

.blaze-services img {
    width: 100%;
}

.blaze-konnect-img img {
    width: 75%;
}

.single-blaze-services h3::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 32%;
    height: 1px;
    background-color: #c0c0c0cc;
}

.single-blaze-services p {
    font-size: 18px;
    padding-top: 20px;
    line-height: 30px;
    text-align: justify;
}

.app-card {
    background: url(../images/app-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.single-app-card {
    box-shadow: 0px 4px 30px #41414126;
    border-radius: 40px;
    padding: 25px 36px;
    text-align: center;
    background-color: #fff;
    /* height: 342px; */
}

.single-app-card .img-box {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    padding-bottom: 80px;
}

.single-app-card img {
    width: 100%;
}

.single-app-card h4 {
    font-size: 28px;
    margin-top: 50px;
}

.download-app a {
    font-size: 35px;
    color: rgba(0, 0, 0, 0.6);
    margin: 7px;
}

.faq-area {
    margin-top: 50px;
}

.accordion-button {
    box-shadow: none !important;
}

.accordion-button::after {
    content: "+" !important;
    font-size: 1.5rem;
    background-image: none;
    background-color: #F4F5FF;
    padding: 20px;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.accordion-button:not(.collapsed)::after {
    content: "-" !important;
    transform: rotate(0deg);
    font-size: 1.6rem !important;
    background-image: none;
}

.accordion-item {
    background: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
    border-radius: 10px !important;
    border: none;
    margin: 20px 0;
}

.accordion-button {
    color: var(--primary-color) !important;
    font-size: 16px;
    font-weight: 600;
}

/*=================== Blaze Code End =========================== */

/* Animation */
.circle-animation {
    position: absolute;
    top: -60%;
    right: 5rem;
    animation: 3s round infinite ease-out;
    z-index: 90;
}

@keyframes round {
    0% {
        transform: scale(1.1);
    }

    20% {
        transform: scale(1.11);
    }

    50% {
        transform: scale(1.12);
    }

    70% {
        transform: scale(1.13);
    }

    90% {
        transform: scale(1.11);
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

/* Animation */